version: "3.8"

services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env

  frontend:
    build:
      context: ./client
      args:
        NEXT_PUBLIC_API_URL: "/api"
    ports:
      - "3000:3000"
    depends_on:
      - backend