services:

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: node_backend
    restart: always
    env_file:
      - ./backend/.env
    ports:
      - "5000:5000"

  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: nextjs_frontend
    restart: always
    depends_on:
      - backend
    env_file:
      - ./client/.env
    ports:
      - "3000:3000"